.container-fluid {
  padding: 5%;
}

.box {
  width: 100%;
}

h1 {
  font-weight: 400;
  font-size: 35px;
}

h2 {
  font-size: 25px;
  font-weight: 500;
}

h3 {
  font-size: 18px;
  font-weight: 400;
}

p {
  font-size: 15px;
}

.to-do-section h1 {
  color: #6a68f6;
}

.missed-section {
  color: #ed6762;
}
