.container-fluid {
  padding: 5%;
}

h1 {
  font-weight: 400;
  font-size: 35px;
}

h2 {
  font-size: 25px;
  font-weight: 500;
}

h3 {
  font-size: 18px;
  font-weight: 400;
}

p {
  font-size: 15px;
}

.to-do-section h1 {
  color: #6a68f6;
}

.missed-section {
  color: #ed6762;
}

.popup-header {
  font-size: 20px;
  padding-top: 2%;
}

.popup-subheader {
  color: #757575;
  padding: 4% 0 0 0;
}

.student {
  font-weight: 400;
  font-size: 17px;
  padding-top: 4%;
}

/* Slider */
input[type="range"] {
  -webkit-appearance: none;
  -moz-apperance: none;
  border-radius: 6px;
  height: 2px;
  background-image: -webkit-gradient(linear,
      left top,
      right top,
      color-stop(0, #6a68f6),
      color-stop(0, #c7c6fc));
  margin: 20px 0 10px 0;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #6a68f6;
  cursor: pointer;
  -webkit-appearance: none;
}

.range-wrap {
  width: 100%;
  position: relative;
}

.slider-number {
  display: inline-block;
  padding: 0 14.5% 0 1%;
}

.slider-last {
  display: inline-block;
  padding-left: 1%;
}

.popup-btn {
  padding-left: 50%;
}
