<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Courses</title>

    {% load static %}
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500&display=swap" rel="stylesheet">

    <!-- CSS Stylesheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'backend/globals.css' %}">
    <link rel="stylesheet" href="{% static 'backend/courses.css' %}">

    <!-- Bootstrap Scripts -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </head>
  <body>
    <h1>Welcome {{ user.name }}!</h1>
    <p>Choose your course:</p>
    <h3 class="is-staff">{{user.is_staff}}</h3>
    <div class="row justify-content-center">
      {% for course in courses %}
      <div class="col-lg-4 col-md-6">
        <div class="box border-shadow">
          <a class="student-link" href="{% url 'student-home' course.id %}"></a>
          <a class="professor-link" href="{% url 'professor-home' course.id %}"></a>
          <h2>{{course.name}}</h2>
          <h3>{{course.code}} - {{course.section_number}}</h3>
          <h3>{{course.sem_of_realization}} {{course.year}}</h3>

          <!-- <h4 class="course-id">{{course.id}}</h4> -->
        </div>
      </div>
      {% endfor %}
    </div>
    <a class="change-password-btn" href="{% url 'change-password' %}">CHANGE PASSWORD</a>
    <a class="logout-btn" href="{% url 'log_out' %}">LOGOUT</a>
  </body>

  <script>
  $(".is-staff").hide();

  var boxes = document.getElementsByClassName("box");

  var getPage = function() {
    if ($(".is-staff").text() == 'True') {
      window.location = $(this).find(".professor-link").attr("href");
    } else {
      window.location = $(this).find(".student-link").attr("href");
    }

    return false;
  };

  for (var i = 0; i < boxes.length; i++) {
      boxes[i].addEventListener('click', getPage, false);
  }

    //
    // professorBox.addEventListener('click', () => {
    //   console.log('professor focus')
    //   nextButton.classList.remove("disabled");
    //   nextButton.disabled = false;
    //   destination = 'professor-login';
    // });
    //
    // nextButton.addEventListener('click', () => {
    //   console.log('next button clicked', destination)
    //   document.location.href = destination
    // });
  </script>

</html>
